#mainTwo {
	position: relative;
	height: 100vh;
	width: 100vw;
	display: none;
}

.two-container-settings,
.two-container-bg {
	position: absolute;
	top: 2.5%;
	left: 20%;
	width: 60%;
	height: 95%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgba(0, 0, 0, 0.4);
	box-shadow: 0 10px 20px rgb(38, 1, 70);
	border: 1px solid #000000;
	z-index: 1;
	overflow: hidden;
}
.two-container-game-2 {
position: absolute;
top: 2.5%;
left: 20%;
width: 60%;
height: 95%;
display: flex;
align-items: center;
justify-content: center;
/* background-color: #1e3434; */
background-color: #000000;
box-shadow: 0 10px 20px rgb(38, 1, 70);
border: 1px solid #000000;
z-index: 1;
overflow: hidden;
}

.profile-con {
	display: flex;
	width: 100%;
	height: 100%;
}

.avatar-profile {
	position: absolute;
	top: 30%;
	left: 27%;
	width: 45%;
	height: 45%;
	border-radius: 50%;
	border: 2px solid grey;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.my-banner {
	position: absolute;
	top: 6%;
	left: 10%;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 25%; 
	width: 20%;
	background-image: url("../assets/banner.png");
}

.profile-info {
	top: 7%;
	display: flex;
	position: absolute;
	left: 40%;
	width: 50%;
	flex-direction: column; 
	justify-content: center; 
	align-items: center;
	height: 25%;
	background-color: #0000006f;
}

.profile-username {
	position: absolute;
	top: 7%;
	color: #9da5cf;
	text-decoration: solid;
	font:italic;
}

.my-email-style {
	position: absolute;
	top: 20%;
	color: #9da5cf;
	text-decoration: solid;
	font:italic;
}

.profile-dropdown-s {
	position: absolute;
	right:0;
	top:0;
	visibility: visible;
	opacity: 1;
}

.my-bio {
	position: absolute;
	top: 35%;
	color: #7982b2;
}

.my-bar {
	background-color: #7982b2;
	position: absolute;
	top: 70%;
	height: 20%;
	width: 80%;
	color: black;
}

.my-bar-two {
	background-color: #7982b2;
	position: absolute;
	top: 80%;
	height: 10%;
	width: 80%;
	color: black;
}

.my-tabs {
	position: absolute;
	top: 35%;
	left: 5%;
	width: 90%;
	height: 60%;
	background-color: #0000006f;
}

.nav-tabs .nav-link {
	color:Black;
	background-color: #9da5cf;
	border: 2px solid black;
}

.nav-tabs {
	border-bottom: 1px solid #000000;
}

.nav-tabs .nav-link.active {
	color: black;
	background-color: #7982b2;
}

.nav-tabs .nav-link:hover {
	color: #7982b2; 
}

.tab-content {
	width: 100%;
	overflow-y: auto;
	position: absolute;
	height: 100%;
	top: 2.8%;
	border-left: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	background-color: #9da5cf;
}

.tab-pane.active {
	background-color: #e9ecef00;
}

.tab-pane {
	display: none;
}

.tab-pane.show.active {
	display: block;
}


.match-history-container {
	margin-top: 0;
	padding: 10px;
}

.won-match, .lost-match {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 8px;
	color: #fff;
	font-weight: bold;
}

.match-avatar {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin: 0 10px;
}

.match-details {
	flex-grow: 1;
	text-align: center;
}

.match-details span {
	display: block;
}

.game-name {
	font-size: 14px;
	color: #ccc;
}

.score {
	font-size: 18px;
	font-weight: bold;
}

.match-card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(0, 0, 255, 0.3);
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
}

.match-card.lost {
	background-color: rgba(255, 0, 0, 0.4);
}

.match-card .player {
	display: flex;
	align-items: center;
}

.match-card .player-left {
	flex-direction: row;
	text-align: left;
}

.match-card .player-right {
	flex-direction: row-reverse;
	text-align: right;
}

.match-card img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.match-card .player-right img {
	margin-left: 10px;
	margin-right: 0;
}

.match-card .score {
	font-weight: bold;
}

.match-card .player-info-2 .username {
	font-weight: bold;
	font-size: 1.1rem;
}

.match-card .player-info-2 .game-name {
	font-size: 0.9rem;
	color: #666;
}

.stats-container {
	display: flex;
	justify-content: space-between;
	padding: 20px;
}

.stats-right,
.stats-left {
	width: 48%;
}

.stat-item {
	margin-bottom: 20px;
}

.stat-item label {
	font-weight: bold;
	display: block;
	margin-bottom: 5px;
}

.progress {
	background-color: #f3f3f3;
	border-radius: 5px;
	overflow: hidden;
	height: 20px;
	margin-bottom: 5px;
}


.progress-text {
	position: absolute;
	width: 100%;
	text-align: center;
	z-index: 1; /* Keep text above the bar background */
	color: #fff;
	text-shadow: 1px 1px 2px #000;
}

.progress-bar {
	background-color: #007bff;
	height: 100%;
	text-align: center;
	justify-content: center;
	font-weight: bold;
	color: black;
	text-shadow: 1px 1px 2px #000; 
	line-height: 20px;
}

.win-loss {
	font-size: 14px;
	color: #555;
}

.win-loss-graph {
	margin-top: 30px;
}

#winLossChart {
	width: 100%;
	height: 200px;
}
