.gameContainer {
	width: 100%;
	height: 100%;
	background-color: transparent;
	justify-content: center;
	z-index: 899;
	background-color: #090417 ;
	background-image: 
	linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px), /* Thin vertical lines */
	linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px); /* Thin horizontal lines */
 	background-size: 50px 50px; /* Adjust for a subtle grid */
 	border-radius: 15px;
	 box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); 
	align-items: center;
}

canvas {
	width: 100%;
	height: 100%;
	display: block;
	z-index: 900;
}

.pong-tournament-name {
	position: absolute;
	left:5%;
	top:5%;
	height: 15%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #ffffff;
	font-family: 'CustomFont';
	background-color: #2b2a58; 
	border: 2px solid #8e8e8e; 
	box-shadow: 0 0 40px rgba(142, 142, 142, 0.5); 
	font-size: 1.5em;
	border-radius: 15px;
	padding: 20px;
}

.pong-tournament-name h1 {
	margin: 0;
	padding: 5px;
	text-align: center;
	font-size: 2.5em;
}


.search-modal7 {
	display: none; 
	position: absolute;
	top: 95%;
	left: 76%;
	transform: translate(-50%, -50%);
	background-color: #2b2b2b; 
	border: 2px solid #ffcc00; 
	box-shadow: 0 0 20px #ffcc00; 
	padding: 20px;
	width: 60%;
	max-width: 400px;
	border-radius: 15px; 
	z-index: 100;
}

.search-modal6 {
	display: none; 
	position: absolute;
	top: 95%;
	left: 24%;
	transform: translate(-50%, -50%);
	background-color: #2b2b2b; 
	border: 2px solid #ffcc00; 
	box-shadow: 0 0 20px #ffcc00; 
	padding: 20px;
	width: 60%;
	max-width: 400px;
	border-radius: 15px; 
	z-index: 100;
}

.search-modal5 {
	display: none; 
	position: absolute;
	top: 67%;
	left: 76%;
	transform: translate(-50%, -50%);
	background-color: #2b2b2b; 
	border: 2px solid #ffcc00; 
	box-shadow: 0 0 20px #ffcc00; 
	padding: 20px;
	width: 60%;
	max-width: 400px;
	border-radius: 15px; 
	z-index: 100;
}

.search-modal4 {
	display: none; 
	position: absolute;
	top: 67%;
	left: 24%;
	transform: translate(-50%, -50%);
	background-color: #2b2b2b; 
	border: 2px solid #ffcc00; 
	box-shadow: 0 0 20px #ffcc00; 
	padding: 20px;
	width: 60%;
	max-width: 400px;
	border-radius: 15px; 
	z-index: 100;
}

.search-modal3 {
	display: none; 
	position: absolute;
	top: 40%;
	left: 76%;
	transform: translate(-50%, -50%);
	background-color: #2b2b2b; 
	border: 2px solid #ffcc00; 
	box-shadow: 0 0 20px #ffcc00; 
	padding: 20px;
	width: 60%;
	max-width: 400px;
	border-radius: 15px; 
	z-index: 100;
}

.search-modal2 {
	display: none; 
	position: absolute;
	top: 40%;
	left: 24%;
	transform: translate(-50%, -50%);
	background-color: #2b2b2b; 
	border: 2px solid #ffcc00; 
	box-shadow: 0 0 20px #ffcc00; 
	padding: 20px;
	width: 60%;
	max-width: 400px;
	border-radius: 15px; 
	z-index: 100;
}

.search-modal1 {
	display: none; 
	position: absolute;
	top: 13%;
	left: 76%;
	transform: translate(-50%, -50%);
	background-color: #2b2b2b; 
	border: 2px solid #ffcc00; 
	box-shadow: 0 0 20px #ffcc00; 
	padding: 20px;
	width: 60%;
	max-width: 400px;
	border-radius: 15px; 
	z-index: 100;
}


#search-input1,
#search-input2,
#search-input3,
#search-input4,
#search-input5,
#search-input6,
#search-input7 {
	width: 100%;
	padding: 10px; 
	border: 2px solid #ffcc00; 
	border-radius: 5px; 
	margin-bottom: 20px; 
	background-color: #4c4c4c; 
	color: #fff; 
}


.plus-btnT {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	color: #ffcc00; 
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	margin: auto;
	background-color: #3b3b3b; 
	box-shadow: 0 0 10px #ffcc00; 
	transition: transform 0.3s; 
}

.pong-tournament-name .map {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.pong-tournament-name .mode {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.pong-players-2 {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	position: absolute;
	top: 23%;
	gap: 20px;
	width: 100%;
	height: 70%;
}

.player-infoT {
	color: #ffffff; 
	font-family: 'CustomFont';
	font-size: 16px;
	text-align: center;
	/* width:80%;
	height: 100%; */
	width: 40%;
	height: 15%;
	position: absolute;
	/* right: 0; */

}

.btn-readyT {
	width: 40%;
	height: 20%;
	transform: translate(80%, -50%);
	z-index: 100;
	background-color: #8b0000;
	color: white;
	font-family: 'CustomFont';
	border: 2px solid #bababa;
	border-radius: 10px;
	transition: background-color 0.3s, color 0.3s;
}

.btn-readyT.ready {
	background-color: #006400; 
	color: white;
}

.pong-tournament-players {
	background-color: #343260; 
	width: 40%; 
	display: flex;
	font-family: 'CustomFont';
	flex-direction: column;
	/* align-items: center;*/
	justify-content: center; 
	height: 25%;
	border: 2px solid #7a7a7a; 
	box-shadow: 0 0 30px rgba(122, 122, 122, 0.4); 
	border-radius: 15px;
	color: #e5e5e5;
}

.avatarT {
	width: 100px;
	height: 100px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 3%;
	margin-bottom: 5px;
}

.avatar-imageT {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.btn-play {
	background-color: #7982b2;;
	width: 100%;
	height: 40%;
	box-shadow: 0 0 20px rgba(255, 255, 255, 0.1); 
	border-color: #f2b8c6;
	font-family: 'CustomFont';
	font-size: medium;
	z-index: 100;
}

.btn-return,
.btn-return-2,
.btn-play:hover {
	background-color: #6a72a3;
	border-color: #f2b8c6;
}

.btn-return {
	position: absolute;
	background-color: #7982b2;
	border-color: #f2b8c6;
	/* transform: translate(-1350%, -1100%); */
	left: -100%;
	top: -175%;
}

.btn-return-2 {
	position: absolute;
	background-color: #7982b2;
	border-color: #f2b8c6;
	left: -100%;
	top: -400%;
	/* transform: translate(-1350%, -1250%); */
}

.ai-menu {
	width: 30%;
	position: absolute;
	right: 35%;
	top:40%;
	height: 20%;
	flex-direction: column;
	display: none;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
	gap: 10%;
}

.invite-menu {
	width: 30%;
	position: absolute;
	right: 35%;
	top:45%;
	height: 10%;
	flex-direction: column;
	display: none;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
	gap: 10%;
}

.pong-menu {
	width: 30%;
	position: absolute;
	right: 35%;
	top:40%;
	height: 20%;
	flex-direction: column;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
	gap: 10%;
	z-index: 901;
}

.Instructions {
	width: 70%;
	height: 60%;
	position: absolute;
	top: 20%;
	left: 15%;
	background-color: rgba(4, 88, 185, 0.8); /* Semi-transparent black */
	color: white; /* White text for visibility */
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	border: 2px solid white; /* White border around the box */
	padding: 20px;
	/* font-family: 'Press Start 2P', cursive; */
	z-index: 10; /* Ensures it's layered on top of other elements */
	display: none; /* Hidden by default */
	border-radius: 10px; /* Rounded corners */
}

.Instructions h2 {
	font-family: 'Press Start 2p', cursive;
}

.btn-ins {
	position: absolute;
	top: -26%;
	left: -15%;
}

.Instructions h2 {
	margin-bottom: 20px;
	font-size: 24px;
	text-align: center;
}

.Instructions p {
	font-size: auto;
	text-align: center;
	line-height: 1.5;
}

.blur-effect {
	filter: blur(8px);
	pointer-events: none;
}

.no-blur {
	position: relative;
	filter: none;
}

.pong-p-c {
	width: 100%;
	height: 33%;
	border: solid black 2px;
	display: flex;           /* Enables flexbox for centering */
	justify-content: center; /* Center the button horizontally */
	align-items: center;     /* Center the button vertically */
}

.pong-add-btn {
	border-radius: 50%;
	background-color: #000000;
	height: 90%;
	aspect-ratio: 1 / 1;
	width: 20%;
	padding: 10px;
	font-size: 3rem;        
	color: white;           
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s ease; 
}

.pong-add-btn:hover {
	background-color: #3a3a3a; 
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); 
	transform: translateY(-3px); 
}


.pong-add-btn:focus {
	outline: none;
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.7); 
	background-color: #1e90ff; 
}


.pong-add-btn:active {
	transform: translateY(1px); 
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}

@font-face {
	font-family: 'CustomFont'; 
	src: url('../fonts/LLPIXEL3.ttf') format('truetype'); 
	font-weight: normal; 
	font-style: normal; 
}

.btn-ready {
	width: 30%;
	height: 5%;
	transform: translateY(400%);
	z-index: 100;
	background-color: #8b0000;
	color: white;
	font-family: 'CustomFont';
	border: 2px solid #bababa;
	border-radius: 10px;
	transition: background-color 0.3s, color 0.3s;
}

.btn-ready.ready {
	background-color: #006400; 
	color: white;
}


.pong-lobby-name {
	position: absolute;
	left:5%;
	top:5%;
	height: 15%;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	color: #ffffff;
	font-family: 'CustomFont';
	background-color: #2b2a58; 
	border: 2px solid #8e8e8e; 
	box-shadow: 0 0 40px rgba(142, 142, 142, 0.5); 
	font-size: 2em;
	border-radius: 15px;
	padding: 20px;
}

.pong-lobby-name h1 {
	margin: 0;
	padding: 5px;
	text-align: center;
	font-size: 3em;
}


.pong-lobby-name .map {
	position: absolute;
	left: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.pong-lobby-name .mode {
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
}

.pong-inv-container {
	display: flex;
	flex-direction: column; 
	height: 100%; 
	width: 100%; 
}

.pong-players {
	display: flex;
	flex-direction: row;
	position: absolute;
	top: 25%;
	width: 100%;
	height: 70%;
}


.pong-container-players {
	background-color: #343260; 
	width: 40%; 
	display: flex;
	font-family: 'CustomFont';
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100%;
	border: 2px solid #7a7a7a; 
	box-shadow: 0 0 30px rgba(122, 122, 122, 0.4); 
	border-radius: 15px;
	color: #e5e5e5; 
}


.player1-container {
	margin-left: 7.5%;
	margin-right: 5%;
	
}

.avatar {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 15px;
}

.avatar-image {
	width: 100%;
	height: 100%;
	object-fit: cover; 
}
.player2-container .avatar {
	background-color: #1e1e1e;
	
}

.player-info {
	color: #ffffff; 
	font-family: 'CustomFont';
	font-size: 16px;
	text-align: center;
}

.pong-p-c {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}


.modal-overlay {
	display: none; 
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.7); 
	z-index: 99; 
}

.search-modal {
	display: none; 
	position: absolute;
	top: 50%;
	left: 72.5%;
	transform: translate(-50%, -50%);
	background-color: #2b2b2b; 
	border: 2px solid #ffcc00; 
	box-shadow: 0 0 20px #ffcc00; 
	padding: 20px;
	width: 80%;
	max-width: 400px;
	border-radius: 15px; 
	z-index: 100; 
}

.search-modal.active {
	display: flex; 
	flex-direction: column; 
}

.search-modal-content {
	display: flex;
	flex-direction: column;
	align-items: center; 
}

#search-input {
	width: 100%;
	padding: 10px; 
	border: 2px solid #ffcc00; 
	border-radius: 5px; 
	margin-bottom: 20px; 
	background-color: #4c4c4c; 
	color: #fff; 
}

.modal-btn {
	background-color: #ffcc00; 
	color: #000; 
	border: none; 
	padding: 10px 20px; 
	margin: 5px; 
	border-radius: 5px; 
	cursor: pointer; 
	transition: background-color 0.3s; 
}

.modal-btn:hover {
	background-color: #ff9900; 
}

.plus-btn {
	width: 120px;
	height: 120px;
	border-radius: 50%;
	color: #ffcc00; /* Gold color */
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	background-color: #3b3b3b; /* Dark background */
	box-shadow: 0 0 10px #ffcc00; /* Neon glow */
	transition: transform 0.3s; /* Smooth scaling */
}

.plus-btn:hover {
	transform: scale(1.1); /* Scale up on hover */
}

.exp-bar-container {
	background-color: #ffffff;
	border-radius: 5px;
	height: 20px;
	margin: 10px 0;
	position: relative;
	overflow: hidden;
}

.exp-bar {
	background-color: #00ff00;
	height: 100%;
	transition: width 0.3s ease;
	position: relative;
}

.exp-percentage {
	height: 100%;
	width: 100%;
	color: #000000;
	font-weight: bold;
	position: absolute;
	left:170%;
	bottom:7.5%;
}

.winrate-bar-container {
	background-color: #ffffff;
	border-radius: 5px;
	height: 20px;
	margin: 10px 0;
	position: relative;
	overflow: hidden;
}

.winrate-bar {
	background-color: #00ff00;
	height: 100%;
	transition: width 0.3s ease;
	position: relative;
}

.winrate-percentage {
	height: 100%;
	width: 100%;
	font-size:smaller;
	color: #000000;
	font-weight: bold;
	position: absolute;
	left:20%;
	bottom:7.5%;
}

#bracket-container {
	
	position: relative;
	width: 100%;
	height: 100%; 
	display: flex;
	justify-content: center; 
	align-items: flex-end;
}

.bracket-round-3 {
	bottom: 50%;
	position: absolute; 
	display: flex;
	flex-direction: row; 
	align-items: center; 
	gap: 400px; 
	margin: 0 20px;
}

.bracket-round-2 {
	bottom: 40%;
	position: absolute; 
	display: flex;
	flex-direction: row; 
	align-items: center; 
	gap: 200px; 
	margin: 0 20px;
}


.bracket-round {
	
	position: absolute;
	bottom: 30%; 
	display: flex;
	flex-direction: row; 
	align-items: center; 
	gap: 20px; 
	margin: 0 20px; 
}


.bracket-matchup {
	display: flex;
	flex-direction: row;
	align-items: center; 
	position: relative; 
}


.bracket-player {
	width: 120px;
	height: 50px;
	background-color: #f8f9fa;
	border: 2px solid #333;
	border-radius: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 15px;
	font-weight: bold;
	color: #333;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.bracket-player.placeholder {
	background-color: #d3d3d3;
	color: #777;
	font-style: italic;
}


.bracket-versus {
	color: #ff9900;
	font-size: 16px;
	font-weight: bold;
	text-shadow: 1px 1px 2px #333;
	margin: 10px 0;
}


.vertical-line {
	height: 40px; 
	width: 2px;
	background-color: #333;
	position: absolute; 
	top: 50%; 
	left: 50%; 
	transform: translateX(-50%); 
}

.horizontal-line {
	width: 50px;
	height: 2px;
	background-color: #333;
}
