
.U {
	border-top: solid 3px #808000 !important;
}

.L {
	border-left: solid 3px #808000 !important;
}

.R {
	border-right: solid 3px #808000 !important;
}

.D {
	border-bottom: solid 3px #808000 !important;
}

.rr-container-players {
	display:flex;
	background-color: #000000;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-content: center;
	width: 15%;
	height: 90%;
	left: 0;
	top: 5%;
	overflow-y: auto;
}

.search-modal {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #000000;
	padding: 20px;
	box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.3);
	z-index: 100; /* Ensure modal is on top of everything */
	width: 80%;
	max-width: 400px;
}

.search-modal-content {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.search-modal-buttons {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.search-modal input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.search-modal button {
	padding: 5px 10px;
	background-color: #1e90ff;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	margin: 5px;
	flex: 1;
	text-align: center;
}

.search-modal button:hover {
	background-color: #005f99;
}
.search-modal.active {
	display: flex;
	justify-content: center;
	align-items: center; 
}

.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.7);
	z-index: 50;
	display: none;
}

/* Show overlay when modal is active */
.modal-overlay.active {
	display: block;
}

.rr-p-c {
	width:100%;
	height:25%;
	border: solid black 2px;
	display: flex;           
	justify-content: center; 
	align-items: center;
	position: relative;
}

.RRmenu{
	display: flex;
	width: 100%; 
	height: 100%;
	background-color: #1e3434;
}

.rr-inv-container {
	display: flex;
	background-color: #1e3434;
	box-shadow: #000000 solid 3px;
	height: 70%;
	width: 60%;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	position: relative;
}

.rr-p-c {
	width: 100%;
	height: 33%;
	border: solid black 2px;
	display: flex;           /* Enables flexbox for centering */
	justify-content: center; /* Center the button horizontally */
	align-items: center;     /* Center the button vertically */
}

.rr-add-btn {
	border-radius: 100%;
	background-color: #000000;
	height: 90%;
	width: 25%;
	padding: 10px;
	font-size: 3rem;        
	color: white;           
	border: none;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); 
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transition: all 0.3s ease; 
}

.rr-add-btn:hover {
	background-color: #3a3a3a; 
	box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); 
	transform: translateY(-3px); 
}


.rr-add-btn:focus {
	outline: none;
	box-shadow: 0 0 10px rgba(0, 255, 255, 0.7); 
	background-color: #1e90ff; 
}


.rr-add-btn:active {
	transform: translateY(1px); 
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.4);
}


.rr-inv-container {
	display: flex;
	background-color: #1e3434;
	box-shadow: #000000 solid 3px;
	height: 70%;
	width: 60%;
	flex-direction: column;
	align-items: center;
	align-self: center;
	justify-self: space-between;
	justify-content: flex-start;
}

.rr-menu {
	width: 30%;
	position: absolute;
	right: 35%;
	top:45%;
	height: 10%;
	flex-direction: column;
	display: none;
	justify-content: flex-start;
	align-items: center;
	z-index: 1;
	gap: 10%;
}

.rr-player {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	background-color: #1e1e1e;
	border: 1px solid #333;
	border-radius: 5px;
	margin-bottom: 10px;
	padding: 10px;
	color: white;
	width: 90%;
}

.rr-player-header {
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}

.rr-player-avatar {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin-right: 10px;
}

.rr-player-name {
	font-weight: bold;
	font-size: 16px;
}

.rr-player-points {
	font-size: 14px;
	color: #aaa;
	justify-content: center;
	align-items: center;
}

.rr-player:hover {
	background-color: #333;
}

.buttons-rr-container {
	display:flex;
	background-color: #000000;
	flex-direction: column;
	position: absolute;
	align-items: center;
	justify-self: space-between;
	justify-content: flex-start;
	width: 15%;
	height: 90%;
	right: 0;
	top: 5%;
}

.timer-display {
	/* position: absolute; */
	left: 34%;
	top: 3%;
	color: white;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 100px;
}

.rr-mover {
	position: absolute;
	top: 2%;
	color: white;
	font-weight: bold;
}


.highlighted-item {
	/* position: absolute; */
	left: 20%;
	top: 20%;
	margin-bottom: 100px;
	text-align: center;
}

.rbt-btn {
	color: white;
	padding: 10px;
	width: 90%;
	border-radius: 5px;
	margin-bottom: 30px;
	font-size: small;
	background-color: rgb(90, 0, 0);
}

#robot-buttons .btn:hover {
	background-color: #45a049; 
} 


#game-board {
	display: grid;
	grid-template-columns: repeat(16, 1fr); 
	grid-template-rows: repeat(16, 1fr);  
	gap: 0px;
	width: 70%; 
	height: 90%;
	position: absolute;
	background-color: #1e3434;
}

.tile {
	z-index: 0 !important; 
	position: relative; 
	width: 100%;
	height: 100%;
	background-color: #2F4F4F;
	border: solid 1px #708090;
}
.token, .robot, .highlight {
	position: absolute;  
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.token {
	z-index: 1;
	/* opacity: 80%;   */
}

.robot {
	z-index: 200 !important;  
}

.highlight {
	background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(211, 211, 211, 0) 50%);
	width: 100%;
	height: 100%;
	border-radius: 0;  
	z-index: 3 !important;  
	position: absolute;
	top: 0;
	left: 0;
}

.robot-highlight {
	position: absolute;
	border: 2px solid rgba(255, 255, 0, 0.8); 
	border-radius: 50%; 
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	z-index: 120 !important;
	pointer-events: none; 
}